<!DOCTYPE html>
<html>

<head>
    <title>JetPark</title>
    <style>
        #map {
            height: 100%;
            width: 100%;
        }

        html,
        body {
            height: 95%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <h3>Google Maps Demo</h3> <!--Elementi div per harten -->
    <div id="map"></div>
    <script src="../static/js/map.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFjcC-JUl2hGUXtv0n7hCEOJwPI8Q2cW4&callback=initMap">
        </script>
</body>

</html>