<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>JetPark</title>

<body>
    <div class="p-5">
        <h1>Parking Policy for Private Jets</h1>

        <h2>1. Reservation and Booking:</h2>
        <p>All private jet parking must be reserved in advance.</p>
        <p>Customers can book parking spaces through the designated reservation system or by contacting the parking
            management.</p>

        <h2>2. Parking Duration:</h2>
        <p>The parking duration is calculated based on the number of hours or days the private jet occupies the parking
            space.</p>
        <p>Customers are responsible for ensuring that the parking duration is accurately specified during the
            reservation.
        </p>
        <p>
            Parking Policy for Private Jets

            Reservation and Booking:

            All private jet parking must be reserved in advance.
            Customers can book parking spaces through the designated reservation system or by contacting the parking
            management.
            Parking Duration:

            The parking duration is calculated based on the number of hours or days the private jet occupies the parking
            space.
            Customers are responsible for ensuring that the parking duration is accurately specified during the
            reservation.
        <h2>3. Parking Fees:</h2>

        <p> Parking fees are determined based on the parking duration and the type of private jet.
            The fee structure may vary depending on the airport or parking facility.
            Customers will be informed of the applicable parking fees at the time of reservation.
            Cancellations and Changes:

            Customers should notify the parking management in advance for any cancellations or changes to their parking
            reservation.
            Depending on the parking facility's policy, there may be cancellation or rescheduling fees.
            Access to Parking Area:

            Only authorized personnel and individuals with valid security clearances are allowed access to the private
            jet
            parking area.
            Customers should follow the instructions provided by the parking management for access and security
            procedures.

        <h2>    Compliance with Regulations:

            Private jet owners and operators are responsible for complying with all local, national, and international
            regulations regarding parking, security, and safety.
            Maintenance and Fueling:

            Private jet owners and operators are responsible for maintenance and fueling of their aircraft.
            Parking facilities may provide additional services such as fueling arrangements or maintenance assistance
            upon
            request.</p>
        <h2>4. Security: </h2>

        <p> The parking facility will have security measures in place to protect private jets parked on-site.
            However, private jet owners and operators are advised to take appropriate security measures and secure their
            aircraft and belongings. </p>
        <h2>5. Liability: </h2>

        <p> The parking facility will take reasonable precautions to ensure the security and safety of parked private
            jets.
            However, the parking facility will not be held liable for any damages, theft, or loss that may occur to the
            private
            jet or its contents. </p>
        <h2>6. Compliance with Instructions: </h2>

        <p> Customers must comply with all instructions provided by the parking management regarding parking procedures,
            safety
            protocols, and any other relevant guidelines. </p>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/mouse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/download.js') }}"></script>
</body>

</html>